# Virtual Environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env
# Dataset
data/raw/
data/external/
# Dataset
data/raw/
data/external/
data/processed/